<html>
	<body>
		
		<div class="projects_side_bar">
			<h2><b><u><%= link_to "Projects", projects_path %></b></u></h2>
			<h4 style="text-indent:10px;"><%= link_to "Completed", completed_path %></h4>
			<h4 style="text-indent:10px;"><%= link_to "In Progress", in_progress_path %></h4>
			<p class ="side_p"><%= link_to "- Boxes", boxes_path %></p>	
			<p class ="side_p"><%= link_to "- Crosses", crosses_path %></p>	
			<p class ="side_p"><%= link_to "- Figures", figures_path %></p>	
			<p class ="side_p"><%= link_to "- Others", others_path %></p>
			<p class ="side_p"><%= link_to "- Carpentry", carpentry_path %></p>	
		</div>
		<h2 class="section_title">Boxes Completed</h2>
		
		<h4 class="section_subtitle">Carved Jewelery Box</h4>

		<%= image_tag "Jbox_front.JPG", height:"30%", width:"30%" %>
		<%= image_tag "Jbox_left.JPG", height:"30%", width:"30%" %>
		</br>
		<%= image_tag "Jbox_right.JPG", height:"30%", width:"30%" %>
		<%= image_tag "Jbox_open.JPG", height:"30%", width:"30%" %>
		</br>
		<%= image_tag "Jbox_top.JPG", height:"30%", width:"30%" %>
		<%= image_tag "Jbox_under_lip.JPG", height:"30%", width:"30%" %>

		<h4 class="section_subtitle">Simple Wood Burned Box</h4>
		</br>
		</br>

		<h3 class="section_title">Boxes In Progress</h3>

			
	</body>
</html>