<html>
	<body>
		
		<div class="projects_side_bar">
			<h2><b><u><%= link_to "Projects", projects_path %></b></u></h2>
			<p class ="side_p"><%= link_to "- Boxes", boxes_path %></p>	
			<p class ="side_p"><%= link_to "- Crosses", crosses_path %></p>	
			<p class ="side_p"><%= link_to "- Figures", figures_path %></p>	
			<p class ="side_p"><%= link_to "- Others", others_path %></p>
			<p class ="side_p"><%= link_to "- Carpentry", carpentry_path %></p>	
		</div>

		<h2 class="section_title">Carpentry Projects Completed</h2>
		
		
		<h4 class="section_subtitle">Four Slot Frame</h4>
		<%= image_tag "four_slot.JPG", height:"35%", width:"35%" %>

		</br>

		<h4 class="section_subtitle">Carved Caliphate Frame</h4>
		<%= image_tag "caliphate_frame.JPG", height:"35%", width:"35%" %>
		<br>
		<%= image_tag "caliphate_close.jpg", height:"40%", width: "40%"%>

		</br>
	
		<h4 class="section_subtitle">Carved Asia Frame</h4>
		<%= image_tag "asia_frame.JPG", height:"35%", width:"35%" %>
		<br>
		<%= image_tag "asia_close.jpg", height:"25%", width: "25%" %>

		</br>

		<h4 class="section_subtitle">Carved Jerusalem Frame</h4>
		<%= image_tag "quds_frame.JPG", height:"40%", width:"40%" %>
		<br>
		<%= image_tag "quds_close.jpg", height:"60%", width: "60%" %>

		</br>

		<h3 class="section_title">Carpentry Projects In Progress</h3>
		
		</br>
		<h4 class="section_subtitle">Desk</h4>
		</br>			
	</body>
</html>