<html>
	<body>
		
		<div class="projects_side_bar">
			<h2><b><u><%= link_to "Projects", projects_path %></b></u></h2>
			<p class ="side_p"><%= link_to "- Boxes", boxes_path %></p>	
			<p class ="side_p"><%= link_to "- Crosses", crosses_path %></p>	
			<p class ="side_p"><%= link_to "- Figures", figures_path %></p>	
			<p class ="side_p"><%= link_to "- Others", others_path %></p>
			<p class ="side_p"><%= link_to "- Carpentry", carpentry_path %></p>	
		</div>

		<h2 class="section_title">Figures Completed</h2>
		
		
		<h4 class="section_subtitle">Carved Couple</h4>
		<%= image_tag "Carved_Figures2.jpg", height:"30%", width:"30%" %>
		<%= image_tag "Carved_Figures_back.JPG", height:"30%", width:"30%" %>
		</br>
		<h2 class="section_title">Figures In Progress</h2>

		<h4 class="section_subtitle">Saint Figures</h4>
		<%= image_tag "saint_progress.jpg", height:"30%", width:"30%" %>

			
	</body>
</html>