<html>
	<body>
		
		<div class="projects_side_bar">
			<h2><b><u><%= link_to "Projects", projects_path %></b></u></h2>
			<p class ="side_p"><%= link_to "- Boxes", boxes_path %></p>	
			<p class ="side_p"><%= link_to "- Crosses", crosses_path %></p>	
			<p class ="side_p"><%= link_to "- Figures", figures_path %></p>	
			<p class ="side_p"><%= link_to "- Others", others_path %></p>
			<p class ="side_p"><%= link_to "- Carpentry", carpentry_path %></p>	
		</div>

		<h2 class="section_title">Other Completed</h2>
		
		
		<h4 class="section_subtitle">Welsh Love Spoon</h4>
		<%= image_tag "Spoon.JPG", height:"45%", width:"45%" %>
		<br>
		<%= image_tag "Spoon2.JPG", height:"45%", width:"45%" %>
		</br>
		<h4 class="section_subtitle">Wooden Pendants</h4>
		<%= image_tag "Pendants.JPG", height:"40%", width:"40%" %>
		<h2 class="section_title">Other In Progress</h2>

			
	</body>
</html>