<!DOCTYPE html>
<html>
	<head>
	  <title>Stoneland</title>
	  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	  <%= csrf_meta_tags %>
	</head>
	<body>
		<div class="header">
				<h1>Stoneland Wood Carving</h1>
				<h3> <%= link_to "Home", home_path %>   |  <%= link_to "Projects", projects_path %>  |  <%= link_to "About", about_path %></h3>	
			</div>
			<div class="side_bar_background">
			 
			</div>
			<div class="footer">
				<p class ="side_p">Created by Eric Stensland</p>
			</div>
	<%= yield %>

	</body>
</html>
